
*{
    margin:0;
    padding: 0;
}
@media screen and (min-width: 801px) {
#caixa-da-nav{
    font-family: 'PT Sans Narrow', sans-serif;
    display: flex;
    background-color: #DDA0DD;
    height: 11vh;
    width: 100%;
    justify-content: space-evenly;
    z-index: 99;
    background:linear-gradient(to left, #DDA0DD 0%, #B31748 700%);
    border: 1px solid #B31748;
}

#logo-nav{
    position: absolute;
    display: flex;
    height: 20vh;
    top:-4.2vh;
    left: 4vw;
}

li{
    display: inline-block;
    margin-right: 3vw;
}
a{
    color: #866512;
    font-weight:bold;
    text-decoration: none;
}

a:hover{
    color:#B31748;
}

#botoes-centrais{
    position: absolute;
    display: inherit;
    left: 25%;
    font-size: 2vw;
    top:3vh;
    
}

#botoes-esquerda{
    position: absolute;
    display: flex;
    top: 2vh;
    left: 80vw;
    
}}

@media screen and (max-width: 800px) {
    #caixa-da-nav{
        font-family: 'PT Sans Narrow', sans-serif;
        display: flex;
        background-color: #DDA0DD;
        height: 9vh;
        width: 100vw;
        justify-content: space-evenly;
        z-index: 999;
        background:linear-gradient(to left, #DDA0DD 0%, #B31748 700%);
        border: 1px solid #B31748;
    }
    
    #logo-nav{
        position: absolute;
        display: none;
        height: 6vh;
        top:1.8vh;
        left: 0;
    }
    
    li{
        display: inline-block;
        margin-right: 1vw;
    }
    a{
        color: #866512;
        font-weight:bold;
        text-decoration: none;
    }
    
    a:hover{
        color:#B31748;
    }
    
    #botoes-centrais{
        position: absolute;
        display: inherit;
        left: 3vw;
        font-size: 2vh;
        top:3vh;
        
    }
    
    #botoes-esquerda{
        position: absolute;
        display: flex;
        top: 1vh;
        left: 85vw;
        
    }
}